In [195]:
import requests

In [196]:
url=['https://www.sofascore.com/player/jobson/826353','https://www.sofascore.com/player/souza/47014','https://www.sofascore.com/player/jean-carlos/850475','https://www.sofascore.com/player/mauricio/39686']
page_html = response.text

In [197]:
print(url)

['https://www.sofascore.com/player/jobson/826353', 'https://www.sofascore.com/player/souza/47014', 'https://www.sofascore.com/player/jean-carlos/850475', 'https://www.sofascore.com/player/mauricio/39686']

In [198]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page_html,'lxml')

In [199]:
nome = soup.find_all('span')
nome[114] # Achei manualmente o número do span com o nome do atleta.

In [200]:
name = soup.find_all("span","sc-af4d0724-14 evVGtz")[0].text
club = soup.find_all("h3",attrs={"class":"sc-af4d0724-13 gscOXH"})[0].text
nationality = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[0].text
age = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[1].text
birth = soup.find_all("div","sc-af4d0724-12 dJunwA")[1].text
height = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[2].text
foot = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[3].text
position = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[4].text

In [201]:
url = ["https://www.sofascore.com/player/jobson/826353","https://www.sofascore.com/player/souza/47014","https://www.sofascore.com/player/jean-carlos/850475","https://www.sofascore.com/player/mauricio/39686"]
url

['https://www.sofascore.com/player/jobson/826353',
 'https://www.sofascore.com/player/souza/47014',
 'https://www.sofascore.com/player/jean-carlos/850475',
 'https://www.sofascore.com/player/mauricio/39686']

In [202]:
for item in url:
    print(url)

['https://www.sofascore.com/player/jobson/826353', 'https://www.sofascore.com/player/souza/47014', 'https://www.sofascore.com/player/jean-carlos/850475', 'https://www.sofascore.com/player/mauricio/39686']
['https://www.sofascore.com/player/jobson/826353', 'https://www.sofascore.com/player/souza/47014', 'https://www.sofascore.com/player/jean-carlos/850475', 'https://www.sofascore.com/player/mauricio/39686']
['https://www.sofascore.com/player/jobson/826353', 'https://www.sofascore.com/player/souza/47014', 'https://www.sofascore.com/player/jean-carlos/850475', 'https://www.sofascore.com/player/mauricio/39686']
['https://www.sofascore.com/player/jobson/826353', 'https://www.sofascore.com/player/souza/47014', 'https://www.sofascore.com/player/jean-carlos/850475', 'https://www.sofascore.com/player/mauricio/39686']

In [203]:
for item in url: #Repetimos as definições de cada característica dos jogadores, pois só funciona assim.
    response=requests.get(item)
    soup=BeautifulSoup(response.text,'lxml')
    name = soup.find_all("span","sc-af4d0724-14 evVGtz")[0].text
    club = soup.find_all("h3",attrs={"class":"sc-af4d0724-13 gscOXH"})[0].text
    nationality = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[0].text
    age = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[1].text
    birth = soup.find_all("div","sc-af4d0724-12 dJunwA")[1].text
    height = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[2].text
    foot = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[3].text
    position = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[4].text
    print(name,club,nationality,age,birth,height,foot,position)

Jobson Náutico BRA 26 13 Sep 1995 185 Right M
Souza Náutico BRA 34 8 Mar 1988 183 Right M
Jean Carlos Náutico BRA 30 15 Feb 1992 178 Left M
Mauricio Náutico BRA 33 20 Sep 1988 185 Right D

In [204]:
players = []

In [205]:
players

[]

In [206]:
for item in url: #Problema do dicionário corrigido excluído todos elementos de players e depois rodando este código novamente.
    dici={}
    response=requests.get(item)
    soup=BeautifulSoup(response.text,'lxml')
    name = soup.find_all("span","sc-af4d0724-14 evVGtz")[0].text
    dici['nome']=name
    club = soup.find_all("h3",attrs={"class":"sc-af4d0724-13 gscOXH"})[0].text
    dici['clube']=club
    nationality = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[0].text
    dici['nacionalidade']=nationality
    age = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[1].text
    dici['idade']=age
    birth = soup.find_all("div","sc-af4d0724-12 dJunwA")[1].text
    dici['nascimento']=birth
    height = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[2].text
    dici['altura']=height
    foot = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[3].text
    dici['pe']=foot
    position = soup.find_all("h2",attrs={"class":"sc-af4d0724-11 bFutwJ"})[4].text
    dici['posicao']=position
    players.append(dici)

In [207]:
print(players)

[{'nome': 'Jobson', 'clube': 'Náutico', 'nacionalidade': 'BRA', 'idade': '26', 'nascimento': '13 Sep 1995', 'altura': '185', 'pe': 'Right', 'posicao': 'M'}, {'nome': 'Souza', 'clube': 'Náutico', 'nacionalidade': 'BRA', 'idade': '34', 'nascimento': '8 Mar 1988', 'altura': '183', 'pe': 'Right', 'posicao': 'M'}, {'nome': 'Jean Carlos', 'clube': 'Náutico', 'nacionalidade': 'BRA', 'idade': '30', 'nascimento': '15 Feb 1992', 'altura': '178', 'pe': 'Left', 'posicao': 'M'}, {'nome': 'Mauricio', 'clube': 'Náutico', 'nacionalidade': 'BRA', 'idade': '33', 'nascimento': '20 Sep 1988', 'altura': '185', 'pe': 'Right', 'posicao': 'D'}]

In [208]:
players

[{'nome': 'Jobson',
  'clube': 'Náutico',
  'nacionalidade': 'BRA',
  'idade': '26',
  'nascimento': '13 Sep 1995',
  'altura': '185',
  'pe': 'Right',
  'posicao': 'M'},
 {'nome': 'Souza',
  'clube': 'Náutico',
  'nacionalidade': 'BRA',
  'idade': '34',
  'nascimento': '8 Mar 1988',
  'altura': '183',
  'pe': 'Right',
  'posicao': 'M'},
 {'nome': 'Jean Carlos',
  'clube': 'Náutico',
  'nacionalidade': 'BRA',
  'idade': '30',
  'nascimento': '15 Feb 1992',
  'altura': '178',
  'pe': 'Left',
  'posicao': 'M'},
 {'nome': 'Mauricio',
  'clube': 'Náutico',
  'nacionalidade': 'BRA',
  'idade': '33',
  'nascimento': '20 Sep 1988',
  'altura': '185',
  'pe': 'Right',
  'posicao': 'D'}]

In [209]:
import pandas as pd

In [210]:
base = pd.DataFrame(players)

In [211]:
base

  altura    clube idade nacionalidade   nascimento         nome     pe posicao
0    185  Náutico    26           BRA  13 Sep 1995       Jobson  Right       M
1    183  Náutico    34           BRA   8 Mar 1988        Souza  Right       M
2    178  Náutico    30           BRA  15 Feb 1992  Jean Carlos   Left       M
3    185  Náutico    33           BRA  20 Sep 1988     Mauricio  Right       D

In [ ]:
# Desafio agora é criar um loop de urls com todos os jogadores possíveis.
# Outro caminho é tentar realizar o método post. Entretanto, não sei se é possível estabelecer parâmetros para este método.